<h1>Products</h1>
<h1><%= t ".title" %></h1>

<div>
  <%= link_to 'New Product', new_product_path if authenticated? %>
</div>
<% @products.each do |product| %>
  <li>
    <a href="/products/<%= product.id %>}">
      <%= product.name %>
    </a>
  </li>
<% end %>
